@import '//at.alicdn.com/t/font_1014906_8ntp0siritq.css';
[class^=icon-] {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*com style*/
@themColor: #DC423A;
@themColor2:#F0716F;
//D94038
//ea4d45
@color:#fff;
@borderColor: #E9E9E9;
@bgColor:#EAEEF1;
@playColor:#8692bc;

@fontColor:#7B7C7E;
@fontColor2:#ACADAF;
@fontColor3:#99999B;
@comFontColor:#1a1a1a;

@fontSize2:12px;
@fontSize:14px;
@fontSize5:15px;
@fontSize6:16px;
@fontSize8:18px;
@fontSize20:20px;

@maxW:740px;
@maxDW:600px;

//圆角
.border-radius(@radius:2px){
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
}

//文字省略
.text-overflow(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//多行文字省略
.text-overflow2(@num:2){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /*! autoprefixer: off */
  -webkit-box-orient:vertical;
  /*! autoprefixer: on */
  -webkit-line-clamp: @num;
}

//动画
.rotateDiv(@name:rotate,@scale:1,@scale2:1,@opacity){
  @keyframes @name
  {
    0%{
      transform:rotate(0deg) scale(@scale);
      -ms-transform:rotate(0deg) scale(@scale);     /* IE 9 */
      -moz-transform:rotate(0deg) scale(@scale);     /* Firefox */
      -webkit-transform:rotate(0deg) scale(@scale); /* Safari ºÍ Chrome */
      opacity: @opacity;
    }
    70%{
      transform:rotate(260deg) scale(1);
      -ms-transform:rotate(260deg) scale(1);     /* IE 9 */
      -moz-transform:rotate(260deg) scale(1);     /* Firefox */
      -webkit-transform:rotate(260deg) scale(1); /* Safari ºÍ Chrome */
      opacity: 1;
    }
    100%{
      transform:rotate(360deg) scale(@scale2);
      -ms-transform:rotate(360deg) scale(@scale2);     /* IE 9 */
      -moz-transform:rotate(360deg) scale(@scale2);     /* Firefox */
      -webkit-transform:rotate(360deg) scale(@scale2); /* Safari ºÍ Chrome */
      opacity: @opacity;
    }
  }
}

/*参数分别为：动画名，持续时间，速度曲线，延迟时间（多久后开始执行动画），结束后的位置*/
.animation(@animation-name,@animation-duration,@animation-timing-function,@animation-iteration-count,@animation-delay,@play-state){
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  -ms-animation: @arguments;
  -o-animation:  @arguments;
  animation: @arguments;
}

.fl{
  float: left;
}
.fr{
  float: right;
}

.mr5{
  margin-right: 5px;
}

.borNo{
  border: none;
}

/*module style*/
.music{
  width: 100%;
  height: 100%;
  //max-width: @maxW;
  margin: 0 auto;

  //nav
  .am-navbar{
    width: 100%;
    background: @themColor;
    color: @color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .am-navbar-title{
      color: @color;
      flex: 3;
      &>div{
        text-align: center;
      }
    }
  }

  //tab
  .am-tabs {
    .am-tabs-tab-bar-wrap {
      .am-tabs-default-bar {
        background-color: @themColor !important;
        color: @color;
      }
      .am-tabs-default-bar-tab-active {
        color: @color;
      }
      .am-tabs-default-bar-underline {
        border: 1.5px solid @color;
        width: 50px !important;
        .border-radius(5px);
        bottom: 5px;
        margin: 0 0 0 calc(~'25% - 25px');
      }
      .am-badge {
        .am-badge-text, .am-badge-dot {
          background-color: @color;
          color: @themColor;
        }
      }
    }
    .am-tabs-pane-wrap{
      //overflow: hidden;
    }
    //con
    .am-tabs-content-wrap {}
  }

  //我的
  .m-my{
    width: 100%;
    height: 100%;
    overflow: hidden;
    //max-width: @maxW;
    margin: 0 auto;
    //con
    .m-my-all {
      width: 100%;
      height: calc(~'100% - 45px');
      overflow-y: auto;
      margin-top: 45px;

      //tab
      .m-my-tabs-list{
        .am-tabs-default-bar-underline{
          @val: 33.3333% / 2;
          margin: 0 0 0 calc(~'@{val} - 25px');
        }
        .am-list-body{
          //overflow-y: auto;
          height: 100%;
        }
      }

      .m-my-tabs{
        margin-top: -1px;
        z-index: 100;
        width: 100%;
        height: 100%;
        .am-tabs{
          .am-tabs-tab-bar-wrap{
            width: 100%;
            position: fixed;
            top: 45px;
            left: 0;
          }
          .am-tabs-content-wrap{
            width: 100%;
            height: calc(~'100% - 45px');
            margin-top: 45px;
            //overflow-x: hidden;
            //overflow-y: scroll;
          }
        }
        .m-my-tabs-search {
          width: 100%;
          height: 100%;
          flex: auto;
          background: #E6E7E9;
          .am-list {
            .am-list-header {
              padding: 0;
              .am-search-input{
                .border-radius(30px);
              }
            }
            .am-list-body{
              .am-list-item{
                .am-list-line{
                  padding: 8px 15px 8px 0;
                }
              }
            }
          }
        }
      }

      //cz
      .m-my-cz {
        .am-list-item {
          min-height: 55px;
          i {
            color: @themColor;
            font-size: 1.5em;
          }
        }
      }
      //dg
      .m-my-gd {
        width: 100%;
        .m-my-gd-title {
          width: 100%;
          height: 35px;
          line-height: 35px;
          background: #EEEFF1;
          padding: 0 10px;
          color: @fontColor;
          span {
            margin-right: 5px;
            i {
              font-size: 17px;
            }
          }
        }
        .m-my-gd-item {
          width: 100%;
          height: 70px;
          display: flex;
          clear: both;
          padding: 10px;
          img {
            width: 50px;
            height: 50px;
            .border-radius(5px);
          }
          div {
            width: calc(~"100% - 75px");
            border-bottom: 1px solid @borderColor;
            margin-left: 10px;
            color: @comFontColor;
            h3 {
              padding: 5px 0;
              .text-overflow;
              font-size: @fontSize5;
            }
            p {
              color: @fontColor;
            }
          }
        }
      }

      //list
      .m-my-list {
        height: 100%;
        .m-my-list-r {
          i {
            font-size: @fontSize20;
            &:last-child {
              margin-left: 15px;
            }
          }
        }
        .m-my-list-top{
          width: 100%;
          background: @borderColor;
          height: 28px;
          line-height: 28px;
          padding: 0 10px;
          span{
            color: @fontColor;
            font-size: @fontSize2;
            i{
              margin-right: 1px;
              font-size: @fontSize;
            }
          }
          .m-my-list-top-num{
            color: @comFontColor;
          }
        }
      }
    }

    //play
    .m-my-play{
      width: 100%;
      height: 100%;
      position: relative;
      background-image: url("images/playerBg/bg1.jpg");
      background-repeat: no-repeat;
      background-position: center left;
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      //-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
      //filter: blur(5px);

      //nav
      .am-navbar {
        position: relative;
        background: transparent;
        border-bottom: 1px solid @color;
      }

      //slider
      .am-slider-wrapper{
        //width: calc(~'100% - 50px');
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        .am-slider{
          .am-slider-rail,.am-slider-track{
            background-color: #fff;
            height: 3px;
            .border-radius(10px);
          }
          .am-slider-handle{
            background-color: #D94038;
            height: 14px;
            width: 14px;
            border: 4px solid #EEEFF1;
            margin-left: -7px;
            margin-top: -5px;
          }
        }
      }

      //volume
      .m-my-play-volume{
        width: 100%;
        line-height: 30px;
        padding: 0 20px;
        position: absolute;
        top: 55px;
        left: 0;
        span{
          font-size: @fontSize20;
          //color: @themColor;
          color: @color;
          vertical-align: middle;
        }
        .am-slider-wrapper{
          width: calc(~'100% - 100px');
        }
      }

      .m-my-station{
        width: calc(~'100% - 20px');
        height: 40px;
        padding: 5px 10px;
        position: absolute;
        top: 45px;
        left: 0;
        background: rgba(0, 0, 0, .1);
        img{
          float: left;
          width: 40px;
          height: 40px;
          .border-radius(3px);
          margin-right: 10px;
        }
        &>div{
          color: @color;
          width: calc(~'100% - 130px');
          float: left;
          padding: 2px 0;
          p{
            font-size: @fontSize2;
            line-height: 20px;
            height: 20px;
            &.m-my-station-name{
              font-size: @fontSize;
              font-weight: bold;
            }
          }
        }
        .am-button{
          width: 80px;
          height: 28px;
          line-height: 28px;
          background: rgba(177, 36, 29,.5);
          color: @color;
          border: none;
          font-size: 14px;
          float: right;
          margin-top: 5px;
          i{
            font-size: 14px;
            margin-right: 5px;
          }
          &:before{
            border: none;
          }
        }
      }

      .m-my-play-con{
        position: relative;
        width: 100%;
        height: calc(~'100% - 230px');
        @val:230px / 2;
        margin-top: calc(~'50% - @{val}');
        .m-my-play-con-w{
          width: 290px;
          height: 290px;
          background: transparent;
          margin: 23px auto;
          border:1px solid @borderColor;
          .border-radius(50%);
          .rotateDiv(rotate,.5,1.2,0);
          .animation(rotate,5s,linear, infinite,0s,forwards);
          .m-my-play-con-w-b{
            width: 80%;
            height: 80%;
            background: transparent;
            margin: 10% auto;
            border:1px solid #f66899;
            .border-radius(50%);
            .m-my-play-con-w-q{
              width: 6px;
              height: 6px;
              background: #f66899;
              margin-top: -2px;
              .rotateDiv(rotateQiu,1,1,0);
              .animation(rotateQiu,5s,linear, infinite,2s,forwards);
            }
          }
          .m-my-play-con-w-q{
            width: 10px;
            height: 10px;
            background: @color;
            margin-left: 100px;
            margin-top: -14px;
            .border-radius(50%);
            .rotateDiv(rotateQiu2,1,1,0);
            .animation(rotateQiu2,5s,linear, infinite,1s,forwards);
          }
        }

        .m-my-play-con-w2{
          width: 290px;
          height: 290px;
          position: absolute;
          top: -22px;
          left: calc(~'50% - 145px');
          .rotateDiv(rotate2,.5,1.4,0);
          .animation(rotate2,5s,linear, infinite,2s,forwards);
          .m-my-play-con-w-b{
            width: 66%;
            height: 66%;
            margin: 17% auto;
            .m-my-play-con-w-q{
              background: @color;
              .rotateDiv(rotateQiu2,1,1,0);
              .animation(rotateQiu2,5s,linear, infinite,2s,forwards);
            }
          }

          .m-my-play-con-w-q{
            background: #f66899;
            margin-top: -10px;
            .rotateDiv(rotateQiu3,1,1,0);
            .animation(rotateQiu3,5s,linear, infinite,1s,forwards);
          }
        }

        .m-my-play-con-n{
          width: 240px;
          height: 240px;
          background: rgba(136,145,150,.3);
          text-align: center;
          .border-radius(50%);
          position: absolute;
          top: 30px;
          left: calc(~'50% - 120px');
          .rotateDiv(rotateImg,1,1,1);
          .animation(rotateImg,5s,linear, infinite,0s,forwards);
          img{
            width: 88%;
            height: 88%;
            margin: 6% auto;
            .border-radius(50%);
          }
        }
      }

      .m-my-play-con2{
        overflow-y: auto;
        overflow-x: hidden;
        p{
          line-height: 35px;
          font-size: 14px;
          text-align: center;
          color: @color;
        }
      }

      //animation puse
      .animation-puse{
        animation-play-state:paused !important;
        -webkit-animation-play-state:paused !important; /* Safari 和 Chrome */
      }

      .m-my-play-bot{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        &>div{
          width: 100%;
          padding: 0 10%;
          span{
            width: 20%;
            text-align: center;
            //color: @playColor;
            color: @color;
            display: inline-block;
            cursor: pointer;
            i{
              font-size: 25px;
            }
            i.icon-bf-live{
              color: @themColor;
            }
          }
          .m-my-play-num{
            i{
              position: relative;
            }
            em{
              position: absolute;
              top: -15px;
              left: 27px;
              font-size: @fontSize2;
              font-style: inherit;
            }
          }
        }
        .m-my-play-bot-t{
          height: 50px;
          line-height: 50px;
          margin: 0 0 15px;
        }
        .m-my-play-bot-c{
          width: calc(~'100% - 40px');
          height: 10px;
          padding: 0 20px;
          &>span{
            vertical-align: middle;
            text-align: left;
            width: 40px;
            &:last-child{
              text-align: right !important;
            }
          }

          .am-slider-wrapper {
            width: calc(~'100% - 100px');
          }

          //music-audio
          .music-audio{
            width: 100%;
            height: 30px;
          }
        }
        .m-my-play-bot-b{
          width: calc(~'100% - 40px');
          height: 50px;
          line-height: 50px;
          padding: 0 20px;
          margin: 20px 0 10px 0;
          span{
            width: 20%;
            vertical-align: middle;
            i{
              font-size: 25px;
            }
            &:first-child{
              text-align: left;
            }
            &:last-child{
              text-align: right;
            }
          }
        }
      }

      /*list*/
      .m-my-play-list{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: auto;
        background: rgba(255,255,255,0.95);
        .border-radius(20px 20px 0 0);
        .m-my-play-list-t{
          width: 100%;
          min-height: 90px;
          .m-my-play-list-t-t{
            line-height: 45px;
            height: 45px;
            margin: 0 20px;
            border-bottom: 1px solid @borderColor;
            span{
              font-size: @fontSize6;
              i{
                color: @fontColor3;
                vertical-align: -1px;
                margin-right: 5px;
              }
              &.fr{
                span:last-child{
                  border-left: 1px solid #ddd;
                  padding-left: 10px;
                  margin-left: 10px;
                }
              }
            }
          }

          .m-my-play-list-t-b{
            width: calc(~'100% - 40px');
            max-height: 300px;
            padding: 0 20px;
            overflow-y: auto;
            overflow-x: hidden;
            ul{
              padding-inline-start: 0;
              margin: 0;
              li{
                width: 100%;
                height: 45px;
                line-height: 45px;
                list-style:none;
                border-bottom: 1px solid @borderColor;
                clear: both;
                &>div{
                  float: left;
                  width:calc(~'100% - 40px');
                  .text-overflow;
                  span{
                    font-size: @fontSize5;
                    img{
                      width: 20px;
                      height: 20px;
                      vertical-align: -5px;
                      margin-right: 5px;
                    }
                    &.singer{
                      color: @fontColor;
                      font-size: @fontSize2;
                    }
                  }
                }
                &>span{
                  width: 20px;
                  float: right;
                  text-align: right;
                  margin-right: 10px;
                  .icon-close2{
                    font-size: @fontSize;
                    color: @fontColor;
                  }
                }
                &.active{
                  color: @themColor;
                  span.singer{
                    color: @themColor;
                  }
                }
                &:last-child{
                  border-bottom: none;
                }
              }
            }
          }
        }

        .m-my-play-list-close{
          background: @bgColor;
          width: 100%;
          height: 35px;
          line-height: 35px;
          text-align: center;
          clear: both;
        }
      }
    }
  }

  //我的 - 收藏
  .m-my-tabs-collect {
    flex: auto;
    background: #E6E7E9;
  }

  //发现
  .m-dis{
    width: 100%;
    height: 100%;
    //max-width: @maxW;
    margin: 0 auto;
    .m-dis-t-tabs{
      .am-tabs-tab-bar-wrap{
        width: 100%;
        position: fixed;
        top: 45px;
        left: 0;
        z-index: 100;
      }
      .am-tabs-content-wrap{
        width: 100%;
        height: calc(~'100% - 45px');
        margin-top: 40px;
        //overflow-x: hidden;
        //overflow-y: scroll;
        & > .am-tabs-pane-wrap{
          width: 100%;
          height: calc(~'100% - 45px');
          overflow-x: hidden;
          overflow-y: auto;
        }
        .am-tabs-default-bar-tab{
          &:after{
            height: 0;
          }
        }
      }
    }

    .am-navbar {
      .am-navbar-title {
        height: 45px;
        position: absolute;
        left: 50px;
        width: calc(~'100% - 100px');
        .am-search {
          background: @themColor;
          width: 100%;
          height: 40px;
          padding: 2px 0;
          .am-search-input {
            .border-radius(30px);
            background: rgba(223, 100, 92, .5);
            input[type="search"] {
              color: @color;
            }
          }
        }
      }
    }

    .m-dis-t {
      margin-top: 45px;
      width: 100%;
      height: 100%;
      .m-dis-tab {
        width: 100%;
        height: calc(~'100% - 45px');
        overflow-y: auto;
        .m-dis-carousel {
          background: @themColor;
          width: 100%;
          height: 130px;
        }
        .slider {
          width: calc(~'100% - 20px') !important;
          //height: 170px !important;
          margin: -110px auto 0;
          min-height: 130px;
          max-height: 260px;
          overflow: hidden;
          .slider-frame {
            .border-radius(10px);
            height: 100% !important;
          }
        }

        .m-dis-icon {
          margin-top: 20px;
          display: flex;
          & > div {
            flex: 1;
            text-align: center;
            div {
              background: @themColor;
              color: @color;
              width: 40px;
              height: 40px;
              line-height: 40px;
              .border-radius(50%);
              text-align: center;
              margin: 0 auto 10px;
            }
          }
        }
      }

      //个性推荐
      .m-dis-recommend {
        .m-dis-re-list {
          margin-top: 20px;
          padding: 0 10px;
          h3{
            line-height: 35px;
            font-size: 15px;
            clear: both;
          }
          ul {
            max-height: 190px;
            padding-inline-start: 0;
            /*-moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
            -moz-column-gap: 1em;
            -webkit-column-gap: 1em;
            column-gap: 1em;*/
            width: 100%;
            li {
              list-style: none;
              margin: 0 0 1em 0;
              /*-moz-page-break-inside: avoid;
              -webkit-column-break-inside: avoid;
              break-inside: avoid;*/
              width: 32%;
              //max-width: 135px;
              float: left;
              &:nth-child(2){
                margin: 0 2%;
              }
              div {
                position: relative;
                img {
                  width: 100%;
                  height: 100%;
                  .border-radius(3px);
                }
                span {
                  position: absolute;
                  top: 5px;
                  right: 5px;
                  color: @color;
                }
              }
              p {
                margin-top: 5px;
                .text-overflow();
                &.name {
                  color: @fontColor;
                  font-size: @fontSize2;
                }
              }
            }
          }
        }
      }

      //主播电台
      .m-dis-radio {
        .m-dis-ra-list {
          padding: 0 10px;
          margin-top: 20px;
          h3{
            line-height: 35px;
            font-size: 15px;
          }
          ul{
            padding-inline-start: 0;
            li{
              list-style: none;
              clear: both;
              margin-bottom: 10px;
              height: 90px;
              img {
                width: 80px;
                height: 80px;
                .border-radius(3px);
                float: left;
                margin-right: 10px;
              }
              div {
                float: left;
                width: calc(~'100% - 90px');
                height: 80px;
                border-bottom: 1px solid @borderColor;
                p {
                  margin-top: 5px;
                  .text-overflow();
                  color: @fontColor;
                  font-size: @fontSize2;
                  line-height: 20px;
                  &.title {
                    color: @comFontColor;
                    font-size: @fontSize6;
                  }
                }
              }
            }
          }
        }
      }
    }

    //个性推荐- 每日推荐
    .m-dis-day {
      width: 100%;
      height: auto;
      margin-top: 45px;
      .m-dis-day-top{
        position: relative;
        margin-bottom: 15px;
        img{
          width: 100%;
          height: auto;
        }
        span{
          position: absolute;
          right: 10px;
          top: 10px;
          color: @color;
          font-size: @fontSize20;
          i{
            margin-right: 5px;
          }
        }
      }
      .m-dis-day-item {
        width: calc(~'100% - 20px');
        height: 50px;
        clear: both;
        margin-bottom: 10px;
        padding: 0 10px;
        img {
          width: 40px;
          height: 40px;
          float: left;
          margin-right: 10px;
          .border-radius(3px);
        }
        & > div {
          height: 40px;
          float: left;
          border-bottom: 1px solid @borderColor;
          width: calc(~'100% - 50px');
          .text-overflow();
          p {
            line-height: 20px;
            &:last-child {
              font-size: @fontSize2;
              color: @fontColor;
            }
          }
        }
      }
    }
  }

  //动态
  .m-dis-dynamic{
    width: 100%;
    height: auto;
    //关注的用户
    .m-dis-dynamic-follows{
      padding:0 10px;
      overflow: hidden;
      h4{
        line-height: 40px;
      }
      &>div{
        width: 50px;
        margin: 0 auto 10px;
        text-align: center;
        float: left;
        margin-right: 10px;
        img{
          width: 40px;
          height: 40px;
          .border-radius(50%);
        }
        p{
          font-size: @fontSize2;
          color: @fontColor;
          .text-overflow();
        }
        .m-dis-all{
          display: block;
          font-size: 30px;
          width: 40px;
          height: 40px;
          line-height: 30px;
          text-align: center;
          border-radius: 50%;
          color: cadetblue;
          border: 1px solid cadetblue;
          margin: 0 auto 3px;
        }
      }
    }

    //动态列表
    .m-dis-dynamic-item{
      width: 100%;
      min-height: 100px;
      background: @color;
      margin-bottom: 10px;
      overflow: hidden;
      padding: 10px;
      & > img {
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 10px;
        .border-radius(50%);
      }
      .m-dis-dynamic-item-all {
        min-height: 50px;
        float: left;
        width: calc(~'100% - 60px');
        p {
          line-height: 20px;
          .text-overflow2(3);
          &.msg{
            font-size: @fontSize2;
            color: @fontColor;
            margin-bottom: 5px;
          }
        }
        .m-dis-dynamic-item-all-vtitle{
          height: 30px;
          p{
            line-height: 30px;
            font-size: @fontSize;
            color: @comFontColor;
          }
        }
        .m-dis-dynamic-item-all-title{
          position: relative;
          p{
            span{
              font-size: @fontSize2;
              color: @fontColor;
            }
          }
          .m-dis-dynamic-item-atten{
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            width: 70px;
            height: 30px;
            line-height: 30px;
            background: @themColor2;
            color: @color;
            text-align: center;
            border-radius: 5px;
            span{
              i{
                font-size: 16px;
                margin-right: 3px;
              }
            }
          }
          .m-atten-y{
            background: @color;
            color: @themColor2;
            border: 1px solid @themColor2;
          }
        }
        .m-dis-dynamic-item-all-c{
          margin-top: 10px;
          img {
            width: auto;
            height: 100%;
            max-width: 100%;
            min-height: 170px;
            max-height: 238px;
            min-height: 150px;
            .border-radius(5px);
            margin-right: 10px;
          }
        }
        .m-dis-dynamic-item-all-c2{
          margin-top: 10px;
          ul{
            @vals: 100% / 3;
            li{
              position: relative;
              width: calc(~'@{vals} - 4px');
              height: 0;
              padding-bottom: calc(~'@{vals} - 4px');
              float: left;
              background: #000;
              img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
              }

              &:nth-child(n + 1){
                margin: 0 2px 4px;
              }

              &:nth-child(3n + 1){
                clear: both;
              }
            }
          }

        }

        //song
        .m-dis-dynamic-item-all-m{
          background: #F5F5F5;
          padding: 5px;
          height: 60px;
          margin-top: 5px;
          position: relative;
          &.m-dis-dynamic-item-pl{
            height: auto;
            min-height: 60px;
            padding-top: 20px;
            margin-top: 20px;
            background: @color;
            border: 1px solid #ddd;
            .m-pl{
              position: absolute;
              color: #de534b;
              left: 15px;
              top: -10px;
            }
          }
          .m-play{
            position: absolute;
            color: #fff;
            left: 20px;
            top: 20px;
          }
          & > img {
            width: 45px;
            height: 45px;
            float: left;
            margin: 4px;
            .border-radius(5px);
          }
          &>div {
            background: #F5F5F5;
            padding: 5px;
            float: left;
            width: calc(~'100% - 60px');
            p {
              width: calc(~'100% - 60px');
              line-height: 20px;
              .text-overflow();
              &:last-child {
                font-size: @fontSize2;
                color: @fontColor;
              }
              &.msg {
                font-size: @fontSize2;
                color: @fontColor;
              }
            }
          }
        }

        //video
        .m-dis-dynamic-item-all-mv{
          width: 100%;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          margin-top: 10px;
          position: relative;
          .m-dis-dynamic-item-all-mv-img {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            .m-play {
              position: absolute;
              color: #fff;
              left: calc(~'50% - 20px');
              top: calc(~'50% - 20px');
              i {
                font-size: 40px;
              }
            }
            img {
              //width: 100%;
              width: auto;
              height: 100%;
              max-width: 100%;
              max-height: 100%;
            }
          }
          video{
            //width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            min-height: 190px;
            .border-radius(5px);
          }
        }

        //opera
        .m-dis-dynamic-item-opera{
          clear: both;
          width: 100%;
          height: 30px;
          line-height: 30px;
          //border-top: 1px solid @borderColor;
          text-align: right;
          margin-top: 15px;
          span{
            margin-left: 15px;
            font-size: @fontSize2;
            i{
              color: sandybrown;
              //color: cornflowerblue;
              //color: lightskyblue;
              margin-right: 5px;
              font-size: @fontSize;
            }
            &.m-dis-dynamic-item-opera-zf{
              border:1px solid @borderColor;
              border-width: 0 1px 0 1px;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }

  //某条动态对应详情
  .m-dis-dynamic-d{
    overflow-y: auto;
    position: absolute;
    width: 100%;
    height: calc(~'100% - 50px');
    background: @color;
    z-index: 999;
    top: 45px;

    //评论
    .m-dis-comments-title{
      background: @borderColor;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      color: #545050;
    }
    .m-dis-comments-opera{
      position: fixed;
      bottom: 0;
      left: 0;
      background: @color;
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-top: 1px solid @borderColor;
      .m-dis-comments-opera-input{
        width: calc(~'100% - 100px');
        float: left;
        input::-webkit-input-placeholder {
          color: #aab2bd;
          font-size: 14px;
        }
      }
      &>span{
        display: inline-block;
        width: 50px;
        color: #F4A460;
        position: relative;
        cursor: pointer;
        .m-dis-count{
          position: absolute;
          right: 7px;
          top: -5px;
          font-size: @fontSize2;
          color: @fontColor;
        }
        i{
          font-size: 23px;
        }
      }
    }
    .m-dis-comments{
      width: 100%;
      height: auto;
      padding: 10px 15px;
      .m-dis-comments-item{
        width: 100%;
        clear: both;
        img{
          width: 30px;
          height: 30px;
          .border-radius(50%);
          float: left;
          margin-right: 10px;
        }
        .m-dis-comments-item-r{
          width: calc(~'100% - 80px');
          float: left;
          .m-dis-time{
            font-size: @fontSize2;
            color: @fontColor;
            margin-top: 3px;
          }
          .m-dis-comments-c{
            clear: both;
            border-bottom: 1px solid @borderColor;
            margin: 10px 0;
            padding-bottom: 5px;
          }
        }
        .m-dis-comments-item-zan{
          position: relative;
          float: right;
          width: 40px;
          text-align: right;
          color: @fontColor;
          i{
            position: absolute;
            right: 8px;
            top: 0;
          }
        }
      }

    }
  }

  //详情
  .m-detail{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    //overflow-y: auto;
    .m-detail-t{
      position: relative;
      width: 100%;
      height: 230px;
      background-repeat: no-repeat;
      background-position: center left;
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      .am-navbar{
        background: transparent;
      }
      .m-detail-top{
        width: 100%;
        height: 60px;
        padding: 0 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        &>div{
          color: @color;
          width: 50%;
          float: left;
          p{
            font-size: @fontSize2;
            &.m-detail-top-name{
              font-size: @fontSize6;
              font-weight: bold;
              margin-bottom: 10px;
            }
          }
        }
        .am-button{
          width: 80px;
          height: 28px;
          line-height: 28px;
          background: @themColor;
          color: @color;
          border: none;
          font-size: 14px;
          float: right;
          margin-top: 5px;
          i{
            font-size: 14px;
            margin-right: 5px;
          }
          &:before{
            border: none;
          }
        }
      }
    }
    .m-detail-con{
      width: 100%;
      height: calc(~'100% - 230px');
      background: #fff;
      overflow-y: auto;
      .am-tabs {
        .border-radius(30px 30px 0 0);
        .am-tabs-tab-bar-wrap {
          position: fixed;
          top: 230px;
          left: 0;
          width: 100%;
          z-index: 99;
          .am-tabs-default-bar-tab{
            background: @color !important;
            color: @comFontColor;
            &:after{
              background-color: #6b5f5f;
            }
          }
          .am-tabs-default-bar-tab-active{
            background: @color !important;
            color: @themColor;
          }
          .am-tabs-default-bar-underline{
            border: 1.5px solid @themColor;
            bottom: 0;
          }
        }
        .am-tabs-content-wrap{
          //padding: 10px;
          background: @color;
          margin-top: 45px;
          &> .am-tabs-pane-wrap{
            overflow-y: auto;
          }
        }
      }
      .m-detail-con-tab {
        width: 100%;
        //height: 700px;
        padding: 10px;
        /*display: flex;
        align-items: center;
        justify-content: center;*/
        h3{
          width: 100%;
          line-height: 35px;
          clear: both;
          font-size: @fontSize;
          margin-top: 20px;
          &:first-child{
            margin-top: 0;
          }
        }
        .m-detail-con-zb {
          width: 100%;
          height: 70px;
          border: 1px solid @borderColor;
          border-width: 1px 0;
          img {
            width: 50px;
            height: 50px;
            .border-radius(50%);
            float: left;
            margin-right: 10px;
            margin-top: 10px;
          }
          .m-detail-con-zb-l {
            height: 70px;
            padding: 15px 0;
            float: left;
            width: calc(~'100% - 120px');
            p{
              font-size: @fontSize6;
              &:last-child{
                font-size: @fontSize2;
                color: @fontColor;
                margin-top: 5px;
              }
            }
          }
          .m-detail-con-zb-r {
            float: right;
            width: 60px;
            height: 70px;
            padding: 10px 0;
            text-align: center;
            .am-button {
              width: 60px;
              height: 28px;
              line-height: 28px;
              background: @color;
              color: @themColor;
              font-size: 14px;
              margin: 0 auto 5px;
              border: 1px solid @themColor;
              &:before {
                border: none;
              }
            }
            &>span{
              font-size: @fontSize2;
              color: @fontColor;
              margin-top: 5px;
            }
          }
        }
        .m-detail-con-des{
          font-size: @fontSize;
          color: @fontColor;
        }
        .m-detail-con-comment{
          .m-detail-comment{
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-bottom: 15px;
            img{
              width: 30px;
              height: 30px;
              .border-radius(50%);
              float: left;
              margin-right: 10px;
            }
            div{
              float: left;
              width: calc(~'100% - 40px');
              .m-detail-name{
                line-height: 30px;
              }
              .m-detail-from{
                font-size: @fontSize2;
                color: @fontColor;
                margin-top: 10px;
                .text-overflow();
                span{
                  width: 30px;
                  height: 1px;
                  background: #b0b2b5;
                  display: inline-block;
                  vertical-align: middle;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }

      .m-detail-program{
        padding: 0 10px;
        .m-detail-program-top{
          width: 100%;
          background: @borderColor;
          height: 28px;
          line-height: 28px;
          padding: 0 10px;
          span{
            color: @fontColor;
            font-size: @fontSize2;
            i{
              margin-right: 1px;
              font-size: @fontSize;
            }
          }
          .m-detail-program-num{
            color: @comFontColor;
          }
        }
        .m-detail-program-item{
          height: 60px;
          border-bottom: 1px solid @borderColor;
          padding: 10px 0;
          &:last-child{
            border-bottom: none;
          }
          &>p{
            float: left;
            width: 40px;
            line-height: 40px;
            text-align: center;
            color: @fontColor;
          }
          &>div{
            float: left;
            width: calc(~'100% - 40px');
            p{
              &:first-child{
                .text-overflow();
              }
              &:last-child{
                font-size: @fontSize;
                color: @fontColor;
                margin-top: 8px;
              }
              span{
                width: 80px;
                //margin-right: 10px;
                display: inline-block;
                i{
                  font-size: @fontSize;
                  margin-right: 5px;
                }
                .icon-bf-zt{
                  color: @themColor;
                }
              }
            }
          }
        }
      }
    }
  }

  //admin
  .m-admin{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .m-admin-top{
      width: 100%;
      background: @color;
      margin-top: 45px;
      .m-admin-top-msg{
        width: 100%;
        height: 80px;
        border-bottom: 1px solid @borderColor;
        padding: 15px 0;
        img{
          float: left;
          width: 50px;
          height: 50px;
          .border-radius(50%);
          margin-left: 20px;
          margin-right: 10px;
        }
        .am-badge{
          margin-top: 10px;
          .am-badge-text{
            height: 25px;
            line-height: 25px;
            background: @color;
            padding: 0;
            text-align: center;
            font-size: @fontSize;
          }
        }
        & > div{
          float: left;
          width: calc(~'100% - 165px');
          padding: 7px 0;
          p{
            font-size: @fontSize6;
            .text-overflow();
          }
          .am-badge {
            margin-top: 5px;
            .am-badge-text{
              width: 40px;
              height: 17px;
              line-height: 17px;
              color: #8C8C8E;
              border: 1px solid #8C8C8E;
              i{
                margin-right: 5px;
              }
            }
          }
        }

        .m-admin-login{
          margin-top: 8px;
          font-size: @fontSize8;
        }
      }
      .m-admin-top-opera{
        width: 100%;
        height: 70px;
        display: flex;
        padding: 15px 20px 15px 0;
        & > div{
          height: 40px;
          flex: 1 1;
          border-right: 1px solid @borderColor;
          p{
            text-align: center;
            font-size: @fontSize;
            color: @fontColor;
            &:first-child{
              margin-bottom: 5px;
            }
            span{
              font-weight: bold;
              color: @comFontColor;
              i{
                font-size: @fontSize;
                color: @fontColor;
              }
            }
          }
        }
      }
    }
    .m-admin-con{
      width: 100%;
      height: auto;
      .am-list{
        margin-top: 15px;
        .am-list-thumb{
          i{
            color: @fontColor;
          }
        }
        .am-list-body{
          &::before, &::after{
            background: @bgColor;
          }
        }
        .am-list-line{
          .am-list-extra{
            font-size: @fontSize2;
          }
        }
      }
    }
  }

  //login
  .m-login{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,0.5);
    .m-login-con{
      position: absolute;
      top: 150px;
      left: calc(~'50% - 150px');
      width: 300px;
      height: 200px;
      background: @color;
      .border-radius(5px);
    }
  }

  //footer
  .m-footer{
    .am-tab-bar-bar{
      .am-tab-bar-tab-icon{
        color: @themColor;
      }
    }
    .am-tabs-content-wrap{
      & > .am-tabs-pane-wrap{
        overflow: hidden;
      }
    }
  }
}


//big screen
@media screen and (min-width:@maxW) {
  .music{
    //max-width: @maxW;
    margin: 0 auto;
  }
}
