@import '//at.alicdn.com/t/font_1014906_zs91ukkbxcf.css';
[class^=icon-] {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*com style*/
/*参数分别为：动画名，持续时间，速度曲线，延迟时间（多久后开始执行动画），结束后的位置*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.mr5 {
  margin-right: 5px;
}
.borNo {
  border: none;
}
/*module style*/
.music {
  width: 100%;
  height: 100%;
}
.music .m-my {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.music .m-my .am-navbar {
  width: 100%;
  background: #D94038;
  color: #fff;
}
.music .m-my .am-navbar .am-navbar-title {
  color: #fff;
}
.music .m-my .am-navbar .am-navbar-title > div {
  text-align: center;
}
.music .m-my .m-my-all {
  width: 100%;
  height: calc(100% - 45px);
  overflow-y: auto;
  margin-top: 45px;
}
.music .m-my .m-my-all .am-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.music .m-my .m-my-all .m-my-tabs {
  margin-top: -1px;
  z-index: 100;
}
.music .m-my .m-my-all .m-my-tabs .am-tabs .am-tabs-tab-bar-wrap .am-tabs-default-bar {
  background-color: #D94038 !important;
  color: #fff;
}
.music .m-my .m-my-all .m-my-tabs .am-tabs .am-tabs-tab-bar-wrap .am-tabs-default-bar-tab-active {
  color: #fff;
}
.music .m-my .m-my-all .m-my-tabs .am-tabs .am-tabs-tab-bar-wrap .am-tabs-default-bar-underline {
  border: 1.5px solid #fff;
  width: 50px !important;
  margin: 0 0 0 calc(33.3333% - 77px);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  bottom: 5px;
}
.music .m-my .m-my-all .m-my-tabs .am-tabs .am-tabs-tab-bar-wrap .am-badge .am-badge-text,
.music .m-my .m-my-all .m-my-tabs .am-tabs .am-tabs-tab-bar-wrap .am-badge .am-badge-dot {
  background-color: #fff;
  color: #D94038;
}
.music .m-my .m-my-all .m-my-tabs .am-tabs .am-tabs-content-wrap .m-my-tabs-search {
  flex: auto;
  background: #E6E7E9;
}
.music .m-my .m-my-all .m-my-tabs .am-tabs .am-tabs-content-wrap .m-my-tabs-search .am-list .am-list-header {
  padding: 0;
}
.music .m-my .m-my-all .m-my-tabs .am-tabs .am-tabs-content-wrap .m-my-tabs-search .am-list .am-list-header .am-search-input {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.music .m-my .m-my-all .m-my-cz .am-list-item {
  min-height: 55px;
}
.music .m-my .m-my-all .m-my-cz .am-list-item i {
  color: #D94038;
  font-size: 1.5em;
}
.music .m-my .m-my-all .m-my-gd {
  width: 100%;
}
.music .m-my .m-my-all .m-my-gd .m-my-gd-title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #EEEFF1;
  padding: 0 10px;
  color: #7B7C7E;
}
.music .m-my .m-my-all .m-my-gd .m-my-gd-title span {
  margin-right: 5px;
}
.music .m-my .m-my-all .m-my-gd .m-my-gd-title span i {
  font-size: 17px;
}
.music .m-my .m-my-all .m-my-gd .m-my-gd-item {
  width: 100%;
  height: 70px;
  display: flex;
  clear: both;
  padding: 10px;
}
.music .m-my .m-my-all .m-my-gd .m-my-gd-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.music .m-my .m-my-all .m-my-gd .m-my-gd-item div {
  width: calc(100% - 75px);
  border-bottom: 1px solid #E9E9E9;
  margin-left: 10px;
  color: #1a1a1a;
}
.music .m-my .m-my-all .m-my-gd .m-my-gd-item div h3 {
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}
.music .m-my .m-my-all .m-my-gd .m-my-gd-item div p {
  color: #7B7C7E;
}
.music .m-my .m-my-all .m-my-list .m-my-list-r i:first-child {
  margin-right: 15px;
}
.music .m-my .m-my-play {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("images/playerBg/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  /*list*/
}
.music .m-my .m-my-play .am-navbar {
  background: transparent;
  border-bottom: 1px solid #fff;
}
.music .m-my .m-my-play .am-slider-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.music .m-my .m-my-play .am-slider-wrapper .am-slider .am-slider-rail,
.music .m-my .m-my-play .am-slider-wrapper .am-slider .am-slider-track {
  background-color: #fff;
  height: 3px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.music .m-my .m-my-play .am-slider-wrapper .am-slider .am-slider-handle {
  background-color: #D94038;
  height: 14px;
  width: 14px;
  border: 4px solid #EEEFF1;
  margin-left: -7px;
  margin-top: -5px;
}
.music .m-my .m-my-play .m-my-play-volume {
  width: 100%;
  line-height: 30px;
  padding: 0 20px;
  position: absolute;
  top: 55px;
  left: 0;
}
.music .m-my .m-my-play .m-my-play-volume span {
  font-size: 20px;
  color: #D94038;
  vertical-align: middle;
}
.music .m-my .m-my-play .m-my-play-volume .am-slider-wrapper {
  width: calc(100% - 100px);
}
.music .m-my .m-my-play .m-my-play-con {
  position: relative;
  width: 100%;
  height: 300px;
}
.music .m-my .m-my-play .m-my-play-con .m-my-play-con-w {
  width: 300px;
  height: 300px;
  background: transparent;
  margin: 40px auto;
  border: 1px solid #E9E9E9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: rotate 5s linear infinite 0s forwards;
  -moz-animation: rotate 5s linear infinite 0s forwards;
  -ms-animation: rotate 5s linear infinite 0s forwards;
  -o-animation: rotate 5s linear infinite 0s forwards;
  animation: rotate 5s linear infinite 0s forwards;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.5);
    -ms-transform: rotate(0deg) scale(0.5);
    /* IE 9 */
    -moz-transform: rotate(0deg) scale(0.5);
    /* Firefox */
    -webkit-transform: rotate(0deg) scale(0.5);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
  70% {
    transform: rotate(260deg) scale(1);
    -ms-transform: rotate(260deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(260deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(260deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1.2);
    -ms-transform: rotate(360deg) scale(1.2);
    /* IE 9 */
    -moz-transform: rotate(360deg) scale(1.2);
    /* Firefox */
    -webkit-transform: rotate(360deg) scale(1.2);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
}
.music .m-my .m-my-play .m-my-play-con .m-my-play-con-w .m-my-play-con-w-b {
  width: 80%;
  height: 80%;
  background: transparent;
  margin: 10% auto;
  border: 1px solid #f66899;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.music .m-my .m-my-play .m-my-play-con .m-my-play-con-w .m-my-play-con-w-b .m-my-play-con-w-q {
  width: 6px;
  height: 6px;
  background: #f66899;
  margin-top: -2px;
  -webkit-animation: rotateQiu 5s linear infinite 2s forwards;
  -moz-animation: rotateQiu 5s linear infinite 2s forwards;
  -ms-animation: rotateQiu 5s linear infinite 2s forwards;
  -o-animation: rotateQiu 5s linear infinite 2s forwards;
  animation: rotateQiu 5s linear infinite 2s forwards;
}
@keyframes rotateQiu {
  0% {
    transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(0deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(0deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
  70% {
    transform: rotate(260deg) scale(1);
    -ms-transform: rotate(260deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(260deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(260deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(360deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(360deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
}
.music .m-my .m-my-play .m-my-play-con .m-my-play-con-w .m-my-play-con-w-q {
  width: 10px;
  height: 10px;
  background: #fff;
  margin-left: 100px;
  margin-top: -14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: rotateQiu2 5s linear infinite 1s forwards;
  -moz-animation: rotateQiu2 5s linear infinite 1s forwards;
  -ms-animation: rotateQiu2 5s linear infinite 1s forwards;
  -o-animation: rotateQiu2 5s linear infinite 1s forwards;
  animation: rotateQiu2 5s linear infinite 1s forwards;
}
@keyframes rotateQiu2 {
  0% {
    transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(0deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(0deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
  70% {
    transform: rotate(260deg) scale(1);
    -ms-transform: rotate(260deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(260deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(260deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(360deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(360deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
}
.music .m-my .m-my-play .m-my-play-con .m-my-play-con-w2 {
  width: 260px;
  height: 260px;
  position: absolute;
  top: -22px;
  left: calc(50% - 130px);
  -webkit-animation: rotate2 5s linear infinite 2s forwards;
  -moz-animation: rotate2 5s linear infinite 2s forwards;
  -ms-animation: rotate2 5s linear infinite 2s forwards;
  -o-animation: rotate2 5s linear infinite 2s forwards;
  animation: rotate2 5s linear infinite 2s forwards;
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg) scale(0.5);
    -ms-transform: rotate(0deg) scale(0.5);
    /* IE 9 */
    -moz-transform: rotate(0deg) scale(0.5);
    /* Firefox */
    -webkit-transform: rotate(0deg) scale(0.5);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
  70% {
    transform: rotate(260deg) scale(1);
    -ms-transform: rotate(260deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(260deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(260deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1.4);
    -ms-transform: rotate(360deg) scale(1.4);
    /* IE 9 */
    -moz-transform: rotate(360deg) scale(1.4);
    /* Firefox */
    -webkit-transform: rotate(360deg) scale(1.4);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
}
.music .m-my .m-my-play .m-my-play-con .m-my-play-con-w2 .m-my-play-con-w-b {
  width: 66%;
  height: 66%;
  margin: 17% auto;
}
.music .m-my .m-my-play .m-my-play-con .m-my-play-con-w2 .m-my-play-con-w-b .m-my-play-con-w-q {
  background: #fff;
  -webkit-animation: rotateQiu2 5s linear infinite 2s forwards;
  -moz-animation: rotateQiu2 5s linear infinite 2s forwards;
  -ms-animation: rotateQiu2 5s linear infinite 2s forwards;
  -o-animation: rotateQiu2 5s linear infinite 2s forwards;
  animation: rotateQiu2 5s linear infinite 2s forwards;
}
@keyframes rotateQiu2 {
  0% {
    transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(0deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(0deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
  70% {
    transform: rotate(260deg) scale(1);
    -ms-transform: rotate(260deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(260deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(260deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(360deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(360deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
}
.music .m-my .m-my-play .m-my-play-con .m-my-play-con-w2 .m-my-play-con-w-q {
  background: #f66899;
  margin-top: -10px;
  -webkit-animation: rotateQiu3 5s linear infinite 1s forwards;
  -moz-animation: rotateQiu3 5s linear infinite 1s forwards;
  -ms-animation: rotateQiu3 5s linear infinite 1s forwards;
  -o-animation: rotateQiu3 5s linear infinite 1s forwards;
  animation: rotateQiu3 5s linear infinite 1s forwards;
}
@keyframes rotateQiu3 {
  0% {
    transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(0deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(0deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
  70% {
    transform: rotate(260deg) scale(1);
    -ms-transform: rotate(260deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(260deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(260deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(360deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(360deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 0;
  }
}
.music .m-my .m-my-play .m-my-play-con .m-my-play-con-n {
  width: 200px;
  height: 200px;
  background: rgba(136, 145, 150, 0.3);
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50px;
  left: calc(50% - 100px);
  -webkit-animation: rotateImg 5s linear infinite 0s forwards;
  -moz-animation: rotateImg 5s linear infinite 0s forwards;
  -ms-animation: rotateImg 5s linear infinite 0s forwards;
  -o-animation: rotateImg 5s linear infinite 0s forwards;
  animation: rotateImg 5s linear infinite 0s forwards;
}
@keyframes rotateImg {
  0% {
    transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(0deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(0deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 1;
  }
  70% {
    transform: rotate(260deg) scale(1);
    -ms-transform: rotate(260deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(260deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(260deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    /* IE 9 */
    -moz-transform: rotate(360deg) scale(1);
    /* Firefox */
    -webkit-transform: rotate(360deg) scale(1);
    /* Safari ºÍ Chrome */
    opacity: 1;
  }
}
.music .m-my .m-my-play .m-my-play-con .m-my-play-con-n img {
  width: 88%;
  height: 88%;
  margin: 6% auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.music .m-my .m-my-play .animation-puse {
  animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
  /* Safari 和 Chrome */
}
.music .m-my .m-my-play .m-my-play-bot {
  position: fixed;
  width: 100%;
  bottom: 10px;
  left: 0;
}
.music .m-my .m-my-play .m-my-play-bot > div {
  width: 100%;
  padding: 0 10%;
}
.music .m-my .m-my-play .m-my-play-bot > div span {
  width: 20%;
  text-align: center;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.music .m-my .m-my-play .m-my-play-bot > div span i {
  font-size: 25px;
}
.music .m-my .m-my-play .m-my-play-bot > div span i.icon-bf-live {
  color: #D94038;
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-t {
  height: 50px;
  line-height: 50px;
  margin: 30px 0;
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-c {
  width: calc(100% - 40px);
  height: 10px;
  padding: 0 20px;
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-c > span {
  vertical-align: middle;
  text-align: left;
  width: 40px;
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-c > span:last-child {
  text-align: right !important;
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-c .am-slider-wrapper {
  width: calc(100% - 100px);
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-c .music-audio {
  width: 100%;
  height: 30px;
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-b {
  width: calc(100% - 40px);
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  margin-top: 30px;
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-b span {
  width: 20%;
  vertical-align: middle;
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-b span i {
  font-size: 25px;
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-b span:first-child {
  text-align: left;
}
.music .m-my .m-my-play .m-my-play-bot .m-my-play-bot-b span:last-child {
  text-align: right;
}
.music .m-my .m-my-play .m-my-play-list {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: auto;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t {
  width: 100%;
  min-height: 90px;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-t {
  line-height: 45px;
  height: 45px;
  margin: 0 20px;
  border-bottom: 1px solid #E9E9E9;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-t span {
  font-size: 16px;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-t span i {
  color: #99999B;
  vertical-align: -1px;
  margin-right: 5px;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-t span.fr span:last-child {
  border-left: 1px solid #ddd;
  padding-left: 10px;
  margin-left: 10px;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b {
  width: calc(100% - 40px);
  padding: 0 20px;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul {
  padding-inline-start: 0;
  margin: 0;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul li {
  width: 100%;
  height: 45px;
  line-height: 45px;
  list-style: none;
  border-bottom: 1px solid #E9E9E9;
  clear: both;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul li > div {
  float: left;
  width: calc(100% - 40px);
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul li > div span {
  font-size: 15px;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul li > div span img {
  width: 20px;
  height: 20px;
  vertical-align: -5px;
  margin-right: 5px;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul li > div span.singer {
  color: #7B7C7E;
  font-size: 12px;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul li > span {
  width: 20px;
  float: right;
  text-align: right;
  margin-right: 10px;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul li > span .icon-close2 {
  font-size: 14px;
  color: #7B7C7E;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul li.active {
  color: #D94038;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul li.active span.singer {
  color: #D94038;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-t .m-my-play-list-t-b ul li:last-child {
  border-bottom: none;
}
.music .m-my .m-my-play .m-my-play-list .m-my-play-list-close {
  background: #EAEEF1;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  clear: both;
}
.music .m-footer .am-tab-bar-bar .am-tab-bar-tab-icon {
  color: #D94038;
}
