@import '//at.alicdn.com/t/font_1014906_zs91ukkbxcf.css';
[class^=icon-] {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*com style*/
@themColor: #D94038;
@color:#fff;
@borderColor: #E9E9E9;
@bgColor:#EAEEF1;
@playColor:#8692bc;

@fontColor:#7B7C7E;
@fontColor2:#ACADAF;
@fontColor3:#99999B;
@comFontColor:#1a1a1a;

@fontSize2:12px;
@fontSize:14px;
@fontSize5:15px;
@fontSize6:16px;
@fontSize20:20px;

//圆角
.border-radius(@radius:2px){
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
}

//文字省略
.text-overflow(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//动画
.rotateDiv(@name:rotate,@scale:1,@scale2:1,@opacity){
  @keyframes @name
  {
    0%{
      transform:rotate(0deg) scale(@scale);
      -ms-transform:rotate(0deg) scale(@scale);     /* IE 9 */
      -moz-transform:rotate(0deg) scale(@scale);     /* Firefox */
      -webkit-transform:rotate(0deg) scale(@scale); /* Safari ºÍ Chrome */
      opacity: @opacity;
    }
    70%{
      transform:rotate(260deg) scale(1);
      -ms-transform:rotate(260deg) scale(1);     /* IE 9 */
      -moz-transform:rotate(260deg) scale(1);     /* Firefox */
      -webkit-transform:rotate(260deg) scale(1); /* Safari ºÍ Chrome */
      opacity: 1;
    }
    100%{
      transform:rotate(360deg) scale(@scale2);
      -ms-transform:rotate(360deg) scale(@scale2);     /* IE 9 */
      -moz-transform:rotate(360deg) scale(@scale2);     /* Firefox */
      -webkit-transform:rotate(360deg) scale(@scale2); /* Safari ºÍ Chrome */
      opacity: @opacity;
    }
  }
}

/*参数分别为：动画名，持续时间，速度曲线，延迟时间（多久后开始执行动画），结束后的位置*/
.animation(@animation-name,@animation-duration,@animation-timing-function,@animation-iteration-count,@animation-delay,@play-state){
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  -ms-animation: @arguments;
  -o-animation:  @arguments;
  animation: @arguments;
}

.fl{
  float: left;
}
.fr{
  float: right;
}

.mr5{
  margin-right: 5px;
}

.borNo{
  border: none;
}

/*module style*/
.music{
  width: 100%;
  height: 100%;

  //我的
  .m-my{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    //nav
    .am-navbar{
      width: 100%;
      background: @themColor;
      color: @color;
      .am-navbar-title{
        color: @color;
        &>div{
          text-align: center;
        }
      }
    }

    //con
    .m-my-all {
      width: 100%;
      height: calc(~'100% - 45px');
      overflow-y: auto;
      margin-top: 45px;

      //nav
      .am-navbar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
      }

      //tab
      .m-my-tabs{
        margin-top: -1px;
        z-index: 100;
        .am-tabs {
          .am-tabs-tab-bar-wrap {
            .am-tabs-default-bar {
              background-color: @themColor !important;
              color: @color;
            }
            .am-tabs-default-bar-tab-active{
              color: @color;
            }
            .am-tabs-default-bar-underline{
              border: 1.5px solid @color;
              width: 50px !important;
              margin: 0  0 0 calc(~'33.3333% - 77px');
              .border-radius(5px);
              bottom: 5px;
            }
            .am-badge{
              .am-badge-text,.am-badge-dot{
                background-color: @color;
                color: @themColor;
              }
            }
          }

          //con
          .am-tabs-content-wrap {
            .m-my-tabs-search {
              flex: auto;
              background: #E6E7E9;
              .am-list {
                .am-list-header {
                  padding: 0;
                  .am-search-input{
                    .border-radius(30px);
                  }
                }
              }
            }
          }
        }
      }

      //cz
      .m-my-cz {
        .am-list-item {
          min-height: 55px;
          i {
            color: @themColor;
            font-size: 1.5em;
          }
        }
      }
      //dg
      .m-my-gd {
        width: 100%;
        .m-my-gd-title {
          width: 100%;
          height: 35px;
          line-height: 35px;
          background: #EEEFF1;
          padding: 0 10px;
          color: @fontColor;
          span {
            margin-right: 5px;
            i {
              font-size: 17px;
            }
          }
        }
        .m-my-gd-item {
          width: 100%;
          height: 70px;
          display: flex;
          clear: both;
          padding: 10px;
          img {
            width: 50px;
            height: 50px;
            .border-radius(5px);
          }
          div {
            width: calc(~"100% - 75px");
            border-bottom: 1px solid @borderColor;
            margin-left: 10px;
            color: @comFontColor;
            h3 {
              padding: 5px 0;
              .text-overflow;
              font-size: @fontSize5;
            }
            p {
              color: @fontColor;
            }
          }
        }
      }

      //list
      .m-my-list {
        .m-my-list-r {
          i:first-child {
            margin-right: 15px;
          }
        }
      }
    }

    //play
    .m-my-play{
      width: 100%;
      height: 100%;
      position: relative;
      background-image: url("images/playerBg/bg1.jpg");
      background-repeat: no-repeat;
      background-position: center left;
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      //-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
      //filter: blur(5px);

      //nav
      .am-navbar {
        background: transparent;
        border-bottom: 1px solid @color;
      }

      //slider
      .am-slider-wrapper{
        //width: calc(~'100% - 50px');
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        .am-slider{
          .am-slider-rail,.am-slider-track{
            background-color: #fff;
            height: 3px;
            .border-radius(10px);
          }
          .am-slider-handle{
            background-color: #D94038;
            height: 14px;
            width: 14px;
            border: 4px solid #EEEFF1;
            margin-left: -7px;
            margin-top: -5px;
          }
        }
      }

      //volume
      .m-my-play-volume{
        width: 100%;
        line-height: 30px;
        padding: 0 20px;
        position: absolute;
        top: 55px;
        left: 0;
        span{
          font-size: @fontSize20;
          color: @themColor;
          vertical-align: middle;
        }
        .am-slider-wrapper{
          width: calc(~'100% - 100px');
        }
      }

      .m-my-play-con{
        position: relative;
        width: 100%;
        height: 300px;
        .m-my-play-con-w{
          width: 300px;
          height: 300px;
          background: transparent;
          margin: 40px auto;
          border:1px solid @borderColor;
          .border-radius(50%);
          .rotateDiv(rotate,.5,1.2,0);
          .animation(rotate,5s,linear, infinite,0s,forwards);
          .m-my-play-con-w-b{
            width: 80%;
            height: 80%;
            background: transparent;
            margin: 10% auto;
            border:1px solid #f66899;
            .border-radius(50%);
            .m-my-play-con-w-q{
              width: 6px;
              height: 6px;
              background: #f66899;
              margin-top: -2px;
              .rotateDiv(rotateQiu,1,1,0);
              .animation(rotateQiu,5s,linear, infinite,2s,forwards);
            }
          }
          .m-my-play-con-w-q{
            width: 10px;
            height: 10px;
            background: @color;
            margin-left: 100px;
            margin-top: -14px;
            .border-radius(50%);
            .rotateDiv(rotateQiu2,1,1,0);
            .animation(rotateQiu2,5s,linear, infinite,1s,forwards);
          }
        }

        .m-my-play-con-w2{
          width: 260px;
          height: 260px;
          position: absolute;
          top: -22px;
          left: calc(~'50% - 130px');
          .rotateDiv(rotate2,.5,1.4,0);
          .animation(rotate2,5s,linear, infinite,2s,forwards);
          .m-my-play-con-w-b{
            width: 66%;
            height: 66%;
            margin: 17% auto;
            .m-my-play-con-w-q{
              background: @color;
              .rotateDiv(rotateQiu2,1,1,0);
              .animation(rotateQiu2,5s,linear, infinite,2s,forwards);
            }
          }

          .m-my-play-con-w-q{
            background: #f66899;
            margin-top: -10px;
            .rotateDiv(rotateQiu3,1,1,0);
            .animation(rotateQiu3,5s,linear, infinite,1s,forwards);
          }
        }

        .m-my-play-con-n{
          width: 200px;
          height: 200px;
          background: rgba(136,145,150,.3);
          text-align: center;
          .border-radius(50%);
          position: absolute;
          top: 50px;
          left: calc(~'50% - 100px');
          .rotateDiv(rotateImg,1,1,1);
          .animation(rotateImg,5s,linear, infinite,0s,forwards);
          img{
            width: 88%;
            height: 88%;
            margin: 6% auto;
            .border-radius(50%);
          }
        }
      }

      //animation puse
      .animation-puse{
        animation-play-state:paused !important;
        -webkit-animation-play-state:paused !important; /* Safari 和 Chrome */
      }

      .m-my-play-bot{
        position: fixed;
        width: 100%;
        bottom: 10px;
        left: 0;
        &>div{
          width: 100%;
          padding: 0 10%;
          span{
            width: 20%;
            text-align: center;
            //color: @playColor;
            color: @color;
            display: inline-block;
            cursor: pointer;
            i{
              font-size: 25px;
            }
            i.icon-bf-live{
              color: @themColor;
            }
          }
        }
        .m-my-play-bot-t{
          height: 50px;
          line-height: 50px;
          margin: 30px 0;
        }
        .m-my-play-bot-c{
          width: calc(~'100% - 40px');
          height: 10px;
          padding: 0 20px;
          &>span{
            vertical-align: middle;
            text-align: left;
            width: 40px;
            &:last-child{
              text-align: right !important;
            }
          }

          .am-slider-wrapper {
            width: calc(~'100% - 100px');
          }

          //music-audio
          .music-audio{
            width: 100%;
            height: 30px;
          }
        }
        .m-my-play-bot-b{
          width: calc(~'100% - 40px');
          height: 50px;
          line-height: 50px;
          padding: 0 20px;
          margin-top: 30px;
          span{
            width: 20%;
            vertical-align: middle;
            i{
              font-size: 25px;
            }
            &:first-child{
              text-align: left;
            }
            &:last-child{
              text-align: right;
            }
          }
        }
      }

      /*list*/
      .m-my-play-list{
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        height: auto;
        background: rgba(255,255,255,0.95);
        .border-radius(20px 20px 0 0);
        .m-my-play-list-t{
          width: 100%;
          min-height: 90px;
          .m-my-play-list-t-t{
            line-height: 45px;
            height: 45px;
            margin: 0 20px;
            border-bottom: 1px solid @borderColor;
            span{
              font-size: @fontSize6;
              i{
                color: @fontColor3;
                vertical-align: -1px;
                margin-right: 5px;
              }
              &.fr{
                span:last-child{
                  border-left: 1px solid #ddd;
                  padding-left: 10px;
                  margin-left: 10px;
                }
              }
            }
          }

          .m-my-play-list-t-b{
            width: calc(~'100% - 40px');
            padding: 0 20px;
            ul{
              padding-inline-start: 0;
              margin: 0;
              li{
                width: 100%;
                height: 45px;
                line-height: 45px;
                list-style:none;
                border-bottom: 1px solid @borderColor;
                clear: both;
                &>div{
                  float: left;
                  width:calc(~'100% - 40px');
                  span{
                    font-size: @fontSize5;
                    img{
                      width: 20px;
                      height: 20px;
                      vertical-align: -5px;
                      margin-right: 5px;
                    }
                    &.singer{
                      color: @fontColor;
                      font-size: @fontSize2;
                    }
                  }
                }
                &>span{
                  width: 20px;
                  float: right;
                  text-align: right;
                  margin-right: 10px;
                  .icon-close2{
                    font-size: @fontSize;
                    color: @fontColor;
                  }
                }
                &.active{
                  color: @themColor;
                  span.singer{
                    color: @themColor;
                  }
                }
                &:last-child{
                  border-bottom: none;
                }
              }
            }
          }
        }

        .m-my-play-list-close{
          background: @bgColor;
          width: 100%;
          height: 35px;
          line-height: 35px;
          text-align: center;
          clear: both;
        }
      }
    }
  }

  //footer
  .m-footer{
    .am-tab-bar-bar{
      .am-tab-bar-tab-icon{
        color: @themColor;
      }
    }
  }
}
